@{
    ViewData["Title"] = "Home Page";
}
<div>This is a test page.....</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    
</div>

<div class="row">
   
</div>
